<lasso-page package-path="./browser.json" />

<include("../../layouts/default") url=data.url >
  	<@title>
       Be Health - Compare e compre manipulados no único comparador de preços do Brasil. Seguro. Rápido. Prático e sempre pelo menor preço!
    </@title>
    <@body>
	  
	  <group-section-search />
	  <!--<group-section-solo-banner /> -->
	  <comp-banner-full-line />
	  <app-products-lines />
	  <app-white-popular />
	  <!-- <comp-video-fullwidth /> -->
	  
	  
    </@body>
	
	
</include>